
/*Сброс настроек */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, header, footer, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button ::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a :visited {
  text-decoration: none;
}

:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f1f1f1 !important;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: block;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}




.btn_show {
  text-align: center;
  background-color: #ed1c24;
  border-radius: 7px;
  font-family: "ProximaNova_Conversed";
  font-size: 17px;
  color: white;
  min-width: 170px;
  min-height: 50px;
}

.catalog_shop {
  padding-top: 12px;
  padding-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: block;
  justify-content: center;
  align-items: center;
}
.catalog_shop .catalog_shop_elements {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 1px;
  
}

.catalog_shop .catalog_shop_elements .text_block_div_1 .p_catalog_title_1 {
  font-family: "ProximaNova";
  font-size: 24px;
  color: white;
  opacity: 0.85;
}
@media (max-width: 767px) {
  .catalog_shop .catalog_shop_elements .text_block_div_1 .p_catalog_title_1 {
    font-size: calc(10px + 32.3 * ((100vw - 320px) / 1280));
  }
}
@media (min-width: 767px) {
  .catalog_shop .catalog_shop_elements .text_block_div_1 .p_catalog_title_1 {
    font-size: calc(10px + 19 * (100vw / 1280));
  }
}
@media (max-width: 767px) {
  .catalog_shop .catalog_shop_elements .text_block_div_1 .p_catalog_title_1 {
    margin-bottom: calc(15px + 25.5 * ((100vw - 320px) / 1280));
  }
}
@media (min-width: 767px) {
  .catalog_shop .catalog_shop_elements .text_block_div_1 .p_catalog_title_1 {
    margin-bottom: calc(15px + 15 * (100vw / 1280));
  }
}
.catalog_shop .catalog_shop_elements .text_block_div_1 .p_catalog_text_1 {
  font-family: "ProximaNova_Conversed";
  font-size: 24px;
  color: white;
  padding: 0;
  margin: 0;
  height: 30px;
  margin-left: 3%;
  opacity: 0.85;
}
@media (max-width: 767px) {
  .catalog_shop .catalog_shop_elements .text_block_div_1 .p_catalog_text_1 {
    font-size: calc(3px + 40.8 * ((100vw - 320px) / 1280));
  }
}
@media (min-width: 767px) {
  .catalog_shop .catalog_shop_elements .text_block_div_1 .p_catalog_text_1 {
    font-size: calc(3px + 24 * (100vw / 1280));
  }
}
.catalog_shop .catalog_shop_elements .text_block_div_1 .p_catalog_text_1_last {
  font-family: "ProximaNova_Conversed";
  font-size: 18px;
  color: white;
  padding: 0;
  margin-top: 8px;
  margin-bottom: 15px;
  margin-left: 3%;
  opacity: 0.85;
}
@media (max-width: 767px) {
  .catalog_shop .catalog_shop_elements .text_block_div_1 .p_catalog_text_1_last {
    font-size: calc(7px + 18.7 * ((100vw - 320px) / 1280));
  }
}
@media (min-width: 767px) {
  .catalog_shop .catalog_shop_elements .text_block_div_1 .p_catalog_text_1_last {
    font-size: calc(7px + 11 * (100vw / 1280));
  }
}
@media (max-width: 767px) {
  .catalog_shop .catalog_shop_elements .text_block_div_1 .p_catalog_text_1_last {
    margin-bottom: calc(10px + 23.8 * ((100vw - 320px) / 1280));
  }
}
@media (min-width: 767px) {
  .catalog_shop .catalog_shop_elements .text_block_div_1 .p_catalog_text_1_last {
    margin-bottom: calc(10px + 14 * (100vw / 1280));
  }
}
.catalog_shop .catalog_shop_elements .text_block_div_1 .p_catalog_title_2 {
  font-family: "ProximaNova";
  font-size: 24px;
  color: white;
  opacity: 0.85;
}
@media (max-width: 767px) {
  .catalog_shop .catalog_shop_elements .text_block_div_1 .p_catalog_title_2 {
    font-size: calc(10px + 32.3 * ((100vw - 320px) / 1280));
  }
}
@media (min-width: 767px) {
  .catalog_shop .catalog_shop_elements .text_block_div_1 .p_catalog_title_2 {
    font-size: calc(10px + 19 * (100vw / 1280));
  }
}
@media (max-width: 767px) {
  .catalog_shop .catalog_shop_elements .text_block_div_1 .p_catalog_title_2 {
    margin-bottom: calc(15px + 25.5 * ((100vw - 320px) / 1280));
  }
}
@media (min-width: 767px) {
  .catalog_shop .catalog_shop_elements .text_block_div_1 .p_catalog_title_2 {
    margin-bottom: calc(15px + 15 * (100vw / 1280));
  }
}
.catalog_shop .catalog_shop_elements .text_block_div_1 .p_catalog_text_2 {
  font-family: "ProximaNova_Conversed";
  font-size: 24px;
  color: white;
  padding: 0;
  margin: 0;
  height: 30px;
  margin-left: 3%;
  opacity: 0.85;
}
@media (max-width: 767px) {
  .catalog_shop .catalog_shop_elements .text_block_div_1 .p_catalog_text_2 {
    font-size: calc(3px + 40.8 * ((100vw - 320px) / 1280));
  }
}
@media (min-width: 767px) {
  .catalog_shop .catalog_shop_elements .text_block_div_1 .p_catalog_text_2 {
    font-size: calc(3px + 24 * (100vw / 1280));
  }
}
.catalog_shop .catalog_shop_elements .text_block_div_1 .p_catalog_text_2_last {
  font-family: "ProximaNova_Conversed";
  font-size: 18px;
  color: white;
  padding: 0;
  margin-top: 8px;
  margin-bottom: 15px;
  opacity: 0.85;
}
@media (max-width: 767px) {
  .catalog_shop .catalog_shop_elements .text_block_div_1 .p_catalog_text_2_last {
    font-size: calc(7px + 18.7 * ((100vw - 320px) / 1280));
  }
}
@media (min-width: 767px) {
  .catalog_shop .catalog_shop_elements .text_block_div_1 .p_catalog_text_2_last {
    font-size: calc(7px + 11 * (100vw / 1280));
  }
}
@media (max-width: 767px) {
  .catalog_shop .catalog_shop_elements .text_block_div_1 .p_catalog_text_2_last {
    margin-bottom: calc(10px + 23.8 * ((100vw - 320px) / 1280));
  }
}
@media (min-width: 767px) {
  .catalog_shop .catalog_shop_elements .text_block_div_1 .p_catalog_text_2_last {
    margin-bottom: calc(10px + 14 * (100vw / 1280));
  }
}

/* Main */


/* LIST */
.main_shop .shop_products .list_product {
  position: relative;
  margin: 0;
  padding: 0;
  margin-top: 6%;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/* ASIDE */

@media (max-width: 1200px) {
 .btn_show {
    font-size: 15px;
    min-width: 130px;
    min-height: 40px;
  }
  .catalog_shop .catalog_shop_elements .text_block_div_1 .p_catalog_title_1 {
    margin-bottom: 20px;
  }
  .catalog_shop .catalog_shop_elements .text_block_div_1 .p_catalog_title_2 {
    margin-bottom: 20px;
  }
  .catalog_shop .catalog_shop_elements .text_block_div_1 .p_catalog_text_1 {
    height: 19px;
  }
  .catalog_shop .catalog_shop_elements .text_block_div_1 .p_catalog_text_2 {
    
    height: 19px;
  }
  .shop_products{
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 1100px) {

   .catalog_shop .catalog_shop_elements .text_block_div_1 .p_catalog_title_1 {
     font-size: 22px;
    }
   .catalog_shop .catalog_shop_elements .text_block_div_1 .p_catalog_title_2 {
    font-size: 22px;
  }
   .catalog_shop .catalog_shop_elements .text_block_div_1 .p_catalog_text_1 {
    font-size: 24px;
   }
   .catalog_shop .catalog_shop_elements .text_block_div_1 .p_catalog_text_2 {
    font-size: 24px;
   }
 }

@media (max-width: 992px) {
  .btn_show {
    font-size: 12px;
    min-width: 100px;
    min-height: 31px;
  }
  #navbarSupportedContent{
    max-height: 34px;
    padding-top: 1%;
  }
  .catalog_shop .catalog_shop_elements .bg_fon {
    width: auto;
    height: auto;
    min-width: 2px;
  }

  .catalog_shop .catalog_shop_elements .bg_fon img {
    width: 100%;
    min-width: 200px;
  }
  .catalog_shop{
    padding-top: 5px;
  }

  .catalog_shop .catalog_shop_elements .text_block_div_1 .p_catalog_text_1_last {
    margin-bottom: 10px;
  }
  .catalog_shop .catalog_shop_elements .text_block_div_1 .p_catalog_text_2_last {
    margin-bottom: 10px;
  }

  .catalog_shop .catalog_shop_elements .text_block_div_1 .p_catalog_title_1 {
    font-size: 18px;
    margin-bottom: 10px;
   }
  .catalog_shop .catalog_shop_elements .text_block_div_1 .p_catalog_title_2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .catalog_shop .catalog_shop_elements .text_block_div_1 .p_catalog_text_1 {
   font-size: 20px;
  }
  .catalog_shop .catalog_shop_elements .text_block_div_1 .p_catalog_text_2 {
   font-size: 20px;
  }
 

  .aside .aside_categories .categories_list .categories_list_item .circle_btn {
    font-family: "ProximaNova";
    font-size: 12px;
    color: white;
    height: 14px;
    width: 14px;
  }

  .aside .aside_categories .categories_list .categories_list_item .mycol img {
    margin-left: 7%;
  }

  .aside .aside_categories .categories_list .categories_list_item:nth-child(2) img {
    margin-left: 20%;
  }
}
@media (max-width: 862px) {
  .aside .aside_categories {
    margin-top: 39px;
  }
}
@media (min-width: 862px) {
  .cat_shop_carousel {
    display: none;
  }
}
@media (max-width: 768px) {
  .aside {
    display: none;
  }

  .main_shop {
    width: 100%;
  }

  .text_block_div .btn_show {
    font-size: 10px;
    min-width: 80px;
    min-height: 24px;
  }
  .btn_show {
    font-size: 10px;
    min-width: 80px;
    min-height: 24px;
  }

  .cross_price p {
    height: 18.5px;
  }

  
  .catalog_shop .catalog_shop_elements .text_block_div_1 .p_catalog_text_1_last {
    
    margin-top: 0;
    margin-bottom: 5px;

  }
  .catalog_shop .catalog_shop_elements .text_block_div_1 .p_catalog_text_2_last {
    margin-top: 0;
    margin-bottom: 5px;
  }

  .catalog_shop .catalog_shop_elements .text_block_div_1 .p_catalog_title_1 {
    font-size: 14px;
    margin-bottom: 10px;
   }
  .catalog_shop .catalog_shop_elements .text_block_div_1 .p_catalog_title_2 {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .catalog_shop .catalog_shop_elements .text_block_div_1 .p_catalog_text_1 {
   font-size: 16px;
  }
  .catalog_shop .catalog_shop_elements .text_block_div_1 .p_catalog_text_2 {
   font-size: 16px;
  }
  .cross_price .price {
    height: 18.5px;
    margin-bottom: 0;
  }
}
@media (max-width: 576px) {
  
  .cross_price p {
    height: 15px;
  }

  .featured_products_list {
    bottom: 0;
  }

  .shop_products{
    justify-items: center;
    padding: 0 auto;
  }

  
}
@media (max-width: 474px) {
  .header-text {
    display: none;
  }

  .text_block_div .btn_show {
    font-size: 7px;
    min-width: 70px;
    min-height: 21px;
  }
 
  .cat_shop_carousel {
    margin-top: 3px;
    min-width: 100%;
  }

  .cat_shop_carousel .catalog_shop_elements_carousel .text_block_div_2 .p_catalog_title_1 {
    font-size: 17px;
  }

  .cat_shop_carousel .catalog_shop_elements_carousel .text_block_div_2 .p_catalog_text_1 {
    font-size: 19px;
    height: 19px;
  }

  .cat_shop_carousel .catalog_shop_elements_carousel .text_block_div_2 .p_catalog_text_1_last {
    font-size: 13px;
    margin-top: 6px;
    margin-bottom: 8px;
  }

  .cat_shop_carousel .catalog_shop_elements_carousel .text_block_div_2 .p_catalog_title_2 {
    font-size: 17px;
  }

  .cat_shop_carousel .catalog_shop_elements_carousel .text_block_div_2 .p_catalog_text_2 {
    font-size: 19px;
    height: 19px;
  }

  .cat_shop_carousel .catalog_shop_elements_carousel .text_block_div_2 .p_catalog_text_2_last {
    font-size: 13px;
    padding-top: 6px;
    margin-bottom: 8px;
  }

  .main_shop .shop_products .featured_products_list ul.list_product li {
    margin-right: 2%;
  }

  .main_shop .shop_products .latest_products_list ul.list_product li {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 10%;
            flex: 1 0 10%;
    margin-right: 2%;
  }

  .catalog_shop .catalog_shop_elements{
    width: 100%;
    padding-right: 0;
  }

  .shop_products{
    padding-left: 10px;
    padding-right: 10px;
  }
  .shop_products .list_product{
    align-items: center;
    justify-content: center;
  }
}